html, body {

    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1464639351491-a172c2aa2911?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1150&q=60");
    background-repeat: no-repeat;
    background-size: cover;

    
    }

    .jumbotron {
        background-size: cover;
       color: aliceblue;
        background-repeat: no-repeat;
       background-image: url("https://images.unsplash.com/photo-1476136236990-838240be4859?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1150&q=60");
        background-color: black;
        padding: 2em inherit;
		height: 50vh;
		font-family: 'Architects Daughter', cursive;
     }

     .container-fluid {
color: aliceblue;


     }

     .display-4, .lead, .animate__animated {
		font-family: 'Architects Daughter', cursive;
       color:white;
       
     }

     /* custom scroll bar  */
* {
	margin: 0;
	padding: 0;

  }
  
  section {
	padding: 6px;
	background: black;
  }
  
  section h2 {
	font-size: 2.5em;
	color: #fff;
	font-family: 'Architects Daughter', cursive;
  }
  
  section p {
	font-size: 1.2em;
	color: #fff;
	font-family: 'Architects Daughter', cursive;
  }
  
  ::-webkit-scrollbar {
	width: 0;
  }
  
  #scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
  }
  
  #progressBar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
	0%, 100% {
	  filter: hue-rotate(0);
	}
	50% {
	  filter: hue-rotate(360deg);
	}
  }
  
  #progressBar::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(10px);
  }
  
  #progressBar::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
  }
  /* scroll end  */

   /* amate text  */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 2em;
	font-family: 'Architects Daughter', cursive;
	line-height: 1;
	color: red;
	display: inline-block;
	padding-left: 42%;
	padding-bottom: 2%;
	}
	   
   .link--change {
	text-transform: uppercase;
	font-weight: 650;
	font-family: 'Architects Daughter', cursive;
	overflow: hidden;
	line-height: 0.75;
	color: white;
	}
	   
   .link--change:hover {
	color: transparent;
	font-family: 'Architects Daughter', cursive;
	}
	   
   .link--change::after {
	content: '';
	position: absolute;
	height: 8px;
	width: 100%;
	font-family: 'Architects Daughter', cursive;
	top: 50%;
	margin-top: -4px;
	right: 0;
	background: black;
	transform: translate3d(-50%,0,0);
	transition: transform .3s;
	transition-timing-function: cubic-bezier (0.7,0,0.3,1);
	}
	   
   .link--change:hover::after {
	transform: translate3d(100%,0,0);
	}
	   
   .link--change::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	font-family: 'Architects Daughter', cursive;
	color: red;
	white-space: nowrap;
	width: 0%;
	transition: width 0.6s 0.5s;
	}
	   
   .link--change:hover::before {
	width: 100%;
	}
  /* end  */
  
   .nerd {
  color: white;
	font-family: 'Architects Daughter', cursive;
  
  } 

    