.jumbotron.jumbotron-fluid {
   background: url("viewfrom7logo.jpeg");
   background-size: contain;
   background-color: black;
   padding: 5em inherit;
   height: 80vh;
   background-repeat: no-repeat;
   position: relative;
   background-position: center;
}

html, body {
background-color: black;
/* background-image: url("https://images.unsplash.com/photo-1580635827830-b2dc309a3719?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=60"); */
background-repeat: no-repeat;
background-size: cover;
}

 #text, footer.blockquote-footer, p.mb-0 {
text-align: center;
background-color: black;
border-style: inset;
color: red;
font-size: large;
}
