html, body {

	background: #EB5757;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Architects Daughter', cursive;
	 
	 }

.jumbotron {
 
  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  
  font-family: 'Architects Daughter', cursive;
  color: white;

}

*, *:before, *:after {
    box-sizing: inherit;
  }
  

.white {

	font-weight: bolder;
	color: white;
  }


p {

color: black;
font-weight: bold;
font-size: large;
font-family: 'Architects Daughter', cursive;
}

footer.blockquote-footer {

  color: red;
  font-weight: bold;
  font-size: large;
  font-family: 'Architects Daughter', cursive;

  
}

  .column {
    float: left;
    width: 45.3%;
    margin-bottom: 5%;
    padding: 0% 5%;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
   
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
	color: white;
	font-family: 'Architects Daughter', cursive;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: red;
	font-weight: bolder;
	font-family: 'Architects Daughter', cursive;
  }
  
  .button {
	font-family: 'Architects Daughter', cursive;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

html,body {
width: 100%;
display: block;

background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

 

 body {
  background-color: lightblue;
}

  
 /* add bg to bottom on footer   */
.row {

  background: #EB5757;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;

}

/* light text  */
:root {
	--white:#f1f1f1
}

/* hides logo in footer 
div > span {
	opacity: 0.15;
} */
#I {
	opacity: 1;
	animation: flickerI 2s linear  reverse infinite;
}
#I::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	-moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
}
#L, #G {
	animation: flickerLG 2s linear reverse infinite;
	position: relative;
}
#L::after, 
#L::before  {
	content:' ';
	width: 100px;
	height: 100px;
	background: var(--white);
	position: absolute;
	top: -50%;
	left: 100%;
	border-radius: 100%;
	opacity: 0.05;
	filter: blur(10px);
}
#L::after {
	width: 200px;
	height: 200px;
	top: -150%;
	left: -5%;
	opacity: 0.1;
	filter: blur(10px);
}
#H {
	animation: flickerH 2s linear reverse infinite
}

#T {
	animation: flickerH 2s linear reverse infinite
}

@keyframes flickerI {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flickerLG {
	0% {
		opacity: 0.19;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.25;
	}
	15% {
		opacity: 0.35;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.35;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.4;
	}
}

@keyframes flickerH {
	0% {
		opacity: 0.15;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.12;
	}
	15% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.15;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.12;
	}
	45% {
		opacity: 0.15;
	}
	60% {
		opacity: 0.3;
	}
	70% {
		opacity: 0.2;
	}
	80% {
		opacity: 0.3;
	}
	90% {
		opacity: 0.18;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes flickerT {
	0% {
		opacity: 0.01;
	}
	5% {
		opacity: 0.05;
	}
	10% {
		opacity: 0.03;
	}
	15% {
		opacity: 0.1;
	}
	25% {
		opacity: 0.07;
	}
	30% {
		opacity: 0.1;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.06;
	}
	45% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.;
	}
	70% {
		opacity: 0.1;
	}
	80% {
		opacity: 0.;
	}
	90% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.1;
	}
}
/* light text end  */

/* custom scroll bar  */
* {
	margin: 0;
	padding: 0;

  }
  
  section {
	padding: 6px;
	background: black;
  }
  
  section h2 {
	font-size: 2.5em;
	color: #fff;
	font-family: 'Architects Daughter', cursive;
  }
  
  section p {
	font-size: 1.2em;
	color: #fff;
	font-family: 'Architects Daughter', cursive;
  }
  
  ::-webkit-scrollbar {
	width: 0;
  }
  
  #scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
  }
  
  #progressBar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	background: linear-gradient(to top, #008aff, #00ffe7);
	animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
	0%, 100% {
	  filter: hue-rotate(0);
	}
	50% {
	  filter: hue-rotate(360deg);
	}
  }
  
  #progressBar::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(10px);
  }
  
  #progressBar::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff, #00ffe7);
	filter: blur(30px);
  }
  /* scroll end  */

   /* amate text  */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 2em;
	line-height: 1;
	color: red;
	display: inline-block;
	padding-left: 42%;
	padding-bottom: 2%;
	font-family: 'Architects Daughter', cursive;
	}
	   
   .link--change {
	text-transform: uppercase;
	font-weight: 650;
	overflow: hidden;
	line-height: 0.75;
	color: black;
	font-family: 'Architects Daughter', cursive;
	}
	   
   .link--change:hover {
	color: transparent;
	}
	   
   .link--change::after {
	content: '';
	position: absolute;
	height: 8px;
	width: 100%;
	top: 50%;
	margin-top: -4px;
	right: 0;
	background: black;
	transform: translate3d(-50%,0,0);
	transition: transform .3s;
	transition-timing-function: cubic-bezier (0.7,0,0.3,1);
	font-family: 'Architects Daughter', cursive;
	}
	   
   .link--change:hover::after {
	transform: translate3d(100%,0,0);
	}
	   
   .link--change::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	font-family: 'Architects Daughter', cursive;
	color: white;
	white-space: nowrap;
	width: 0%;
	transition: width 0.6s 0.5s;
	}
	   
   .link--change:hover::before {
	width: 100%;
	}
  /* end  */
  
   .nerd {
  
	font-family: 'Architects Daughter', cursive;
  
  } 

  /*  footer  */
 body {
	font-family: 'Architects Daughter', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;

}

.header {
  height: 100vh;
  background-image: 
  linear-gradient(to right bottom, 
   rgba(15, 17, 17, 0.8),
   rgba(255, 0, 0, 0.8)),
   url("https://images.unsplash.com/photo-1549861833-c5932fd19229?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1191&q=80");
background-size: cover;
  background-position: top;
  position: relative;
  font-family: 'Architects Daughter', cursive;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand { font-size: 20px; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  font-family: 'Architects Daughter', cursive;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 5px;
  font-family: 'Architects Daughter', cursive;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
  font-family: 'Architects Daughter', cursive;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  font-family: 'Architects Daughter', cursive;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: white;
  color: #777;
font-size: 14px;
font-family: 'Architects Daughter', cursive;
} 